*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userCss{
  display: flex;
}
.itemsList{
  /* grid-column: inherit; */
  display: flex;
}
.containerItemCount{
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(3, 1rf); */
  gap: 40px;
}

.ligthCont{
  border: rgb(20, 1, 1);
  background-color: rgb(231, 220, 220);
}
.darkCont{
  border: rgb(20, 1, 1);
  background-color: rgb(128, 128, 128);
}



.dark{
  border: rgb(20, 1, 1);
  background-color: rgb(128, 128, 128);
}

.darkBtn{
  background-color: greenyellow;
}

.Form-Container{
  display: flex;
  align-items: center;
}

.ItemDetail {
  width: 100%;
  text-align: center;
}

.CardDetail{
  display: inline-block;
}

/* .buton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: 141414;
  color: aliceblue;
  font-family: "verdana";
  font-size: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .03s ease all;
  border-radius: 1px;
}

.buton ::after{
  content: "";
  width: 100%;
  height: 300px;
  background: rgb(85, 161, 78);
  position: absolute;
  z-index: 1;
  top: -300;
  left: 0;
  transition: .3s ease-in-out all;
  border-radius: 0px 0px 300px 300px;
}

.boton:hover::after{
  top :0;
} */
.wrap {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.formulario h2 {
  font-size: 16px;
  color: #001f3f;
  margin-bottom: 20px;
  margin-left: 20px;
}

.formulario > div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.formulario input[type='radio']{
  display: none;
}
.formulario .radio label {
  color: #2ecc40;
  /* background: ; */
  padding: 5px 15px 5px 51px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease ;
  transition: all 0.3s ease;
}

.formulario .radio label:hover{
  background: rgba(46, 204, 64, 0.3);
}
.formulario .radio label:before{
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #2ecc40;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  top: 4px;
}

.formulario input[type='radio']:checked + label{
  padding: 5px 15px;
  background: #2ecc40;
  border-radius: 2px;
  color: #fff;
}

.formulario input[type='radio']:checked + label:before{
  display: none;
}

.field {
  font-size: 15px;
}

.buttonSend {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 80%;
  background: #2ecc40;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px 5px;
}

.buttonSend:hover {
  background: #105718;
}

.itemsContainerList{
  grid-column: auto;
  margin: 5px 10px;
}
.product{
  margin: 5px ;

}